configuration {
	modi: 			"drun,run";
	font: 			"Monaco 10";
	show-icons: 		true;   
	icon-theme:	 	"Papirus";	
	display-drun: 		"";
	display-run: 		"";
}

@theme "~/.config/rofi/themes/dark-theme.rasi"
// @theme "~/.config/rofi/themes/light-theme.rasi"
